.footer-movie {
    width: 100%;
    min-height: 300px;
    background-color: pink;
    background-image: url(./img/h1.jpg);
    background-size: 50%;
    background-position: center;
    position: relative;
}

.footer-list {
    color: white;
    display: flex;
    justify-content: space-between;
    padding-inline: 200px;
    left: 0;
    top: 0;
    width: 100%;
    min-height: 300px;
    background-image: linear-gradient(to top,
            rgb(0, 0, 0, .7), rgb(0, 0, 0, .7));
}

.footer-right {
    width: 30%;
    height: 200px;
    margin-block: 40px;
    text-align: left;
    color: #3D8361;
}

.footer-right img {
    width: 200px;
    height: 100px;
    margin-left: 70px;
}

.footer-right p {
    margin-top: 30px;
}

.footer-left {
    width: 50%;
    height: 200px;
    padding-inline: 70px;
    margin-block: 40px;
    display: flex;
    justify-content: space-between;

}

.left-1 {
    display: flex;
    flex-direction: column;

}

.left-chinh-sach {
    margin-bottom: 45px;
}

.left-1 button {
    color: #3D8361;
    display: flex;
    padding-left: 20px;

}



.left-2 {
    display: flex;
    flex-direction: column;

}

.left-tai-khoan {
    margin-bottom: 45px;
}

.left-2 button {
    color: #3D8361;
    display: flex;
    padding-left: 20px;

}


.footer-end {
    border-top: 1px solid #A7D2CB;
    display: flex;
    justify-content: space-between;
    padding-inline: 150px;
    padding-block: 15px;
    color: #97D2EC;
    position: absolute;
    width: 100%;
    bottom: 0px;
    left: 0px;
}